{% extends "base.html" %}

{% block content %}

<h2 class="mb-4 text-white">Submitted Issues</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover shadow-sm">

<thead class="table-dark">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Issue</th>
    <th>Location</th>
    <th>Description</th>
    <th>Status</th>
    <th>Image</th>
</tr>
</thead>

<tbody>
{% for r in reports %}
<tr>
    <td>{{ r.report_id }}</td>
    <td>{{ r.user_name }}</td>
    <td>{{ r.issue_type }}</td>
    <td>{{ r.location }}</td>
    <td style="max-width:200px;">{{ r.description }}</td>
    <td>
    {% if r.status == "Reported" %}
    <span class="badge bg-warning text-dark">Reported</span>
    {% elif r.status == "In Progress" %}
    <span class="badge bg-primary">In Progress</span>
    {% elif r.status == "Resolved" %}
    <span class="badge bg-success">Resolved</span>
    {% endif %}
    </td>

    <td>
        {% if r.image_path %}
            <img src="/uploads/{{ r.image_path }}" width="100" class="rounded">
        {% else %}
            No Image
        {% endif %}
    </td>
</tr>
{% endfor %}

{% for r in reports %}
<div class="card mb-3 p-3 shadow-sm">

  <h5>{{ r.issue_type }}</h5>
  <p>{{ r.location }}</p>

  {% if r.status == "Reported" %}
      <span class="badge bg-danger">Reported</span>

  {% elif r.status == "In Progress" %}
      <span class="badge bg-warning text-dark">In Progress</span>

  {% elif r.status == "Resolved" %}
      <span class="badge bg-success">Resolved</span>
  {% endif %}

</div>
{% endfor %}

<div class="progress mt-2">
  {% if r.status == "Reported" %}
      <div class="progress-bar bg-danger" style="width:33%">Reported</div>

  {% elif r.status == "In Progress" %}
      <div class="progress-bar bg-warning" style="width:66%">In Progress</div>

  {% elif r.status == "Resolved" %}
      <div class="progress-bar bg-success" style="width:100%">Resolved</div>
  {% endif %}
</div>


</tbody>

</table>
</div>

{% endblock %}
